@media (max-width:779px) {
    .header{
        width: 1024px;
    }
    
    .hero{
        width: 1100px;
        height: 30vh;
    }

    .feature{
        width: 1100px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .feature .feature-box{
        width: 250px;

    }

    .feature-product{
        width: 1100px;
    }

    .banner{
        width: 1100px;
    }
    
    .sm-banner{
        width: 1100px;
    }
    
    .banner-text{
        width: 1100px;
    }

    .newletter{
        width: 1100px;
    }

    footer{
        width: 1100px;
    }
}